.dot {
    display: flex;
    flex-direction: column;    
    height: 325px;
    width: 325px;
    background-color: #bbb;
    border-radius: 50%;
  }

  .dot2 {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
  }