/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
/*  font-family: 'Petrona', serif; */
/* rgba(250, 250, 226, 0.918) */

/* HEADER STYLING */
header {
    background-color: whitesmoke;
}

.container {  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: repeat(4, 1fr);
  gap: 0px;  
}

#Logo {
  margin-top: 30px;
  margin-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#Jacobh1 {  
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: 'Allison', cursive;
  text-decoration: underline;
  font-size: 150px;
}

/* NAVBAR AND TAB STYLING */
.nav {
  margin-left: 2px;  
}

.nav-link {
  color: black;  
  font-family: 'Petrona', serif;  
}

#homeTab {
  border-left: black 1px solid;
}

.nav-item {
  background-color: rgb(230, 228, 238);
  border-top: black 1px solid;
  border-right: black 1px solid;
  border-left: black 1px solid;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;  
}

.nav-tabs {
  background-color: whitesmoke;
  border-bottom: black 1px solid;
}

/* a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: dark gray;
  background-color: transparent;
  text-decoration: none;
}

.href:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */



/* SHOWCASE */
#showcase {
  background-color: rgb(209, 210, 238);
}

/* HEADLINE STYLING */
#jakesPlace {
  font-family: 'Petrona', serif;
  margin: 0px 20px 0px 20px;
  padding: 25px;
}

/* MISSION STATEMENT STYLING */
#mission {
  background-color: rgb(232, 233, 248);
  margin: 50px;
  padding: 25px;
  border: 5px double #1C6EA4;
  border-radius: 1px 200px 0px 100px;
  font-family: 'Petrona', serif;
  -webkit-box-shadow: -20px 18px 38px -7px rgba(0,0,0,0.53); 
 box-shadow: -20px 18px 38px -7px rgba(0,0,0,0.53);
}


/* WELCOME TO JACOB A. RIIS STYLING */
#smallWaterTower {
  margin-top: 10px;
  margin-left: 15px;
  border: #33CCFF 15px solid;
  border-radius: 5%;
}

#quote {
  background-color: #c0ebfa;
}


/* ACCORDION STYLING */
#btn1, #btn2, #btn3 {
  background-color: #33CCFF;
  color: black;
  font-size: 20px;
}

#accordianSection{
  margin-top: 50px;
  margin-bottom: 40px;  
}

#riisLinks {
  padding: 10px;
  background-color: #c0ebfa;
  font-size: 18px;
}


/* FOOTER STYLING */
  #footer {
    background-color: rgb(20, 20, 20);
    color: burlywood;
  }




  /* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    #Jacobh1 {
      margin-top: 40px;
      font-size: 12vmin;              
    }                
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {
  #Jacobh1 {
    margin-top: 40px;
    font-size: 11vmin;              
  }     
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #Jacobh1 {
    margin-top: 40px;
    font-size: 15vmin;              
  } 
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #Jacobh1 {
    margin-top: 40px;
    font-size: 20vmin;              
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  
}  */